.home-button {
  display: inline-block;
  margin: 1rem 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #0ff;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 0 10px #0ff;
  transition: background 0.3s ease, color 0.3s ease;
}

.home-button:hover {
  background-color: #31aff8;
  color: white;
  box-shadow: 0 0 15px #31aff8;
}
